parameters:
    excludes_analyse:
        - */Tests/*
        - */Testing/*
        - */Symfony/*
        - */Migrations/*
    customRulesetUsed: true
    checkThisOnly: false

services:
    -
        class: Oro\Rules\Methods\QueryBuilderInjectionRule
        arguments:
            checkThisOnly: %checkThisOnly%
        tags:
            - phpstan.rules.rule
