parameters:
    excludes_analyse:
        - */Tests/*
        - */Testing/*
        - */TestFramework*
        - */Symfony/*
        - */Migrations/*
        - */Migration/*
        - */views/*
        - */Oro/Component/DoctrineUtils/ORM/SqlQueryBuilder.php
        - */Oro/Bundle/TrackingBundle/Resources/public/lib/tracking.php
        - */Oro/Bundle/BatchBundle/ORM/Query/QueryCountCalculator.php
        - */Oro/Bundle/BatchBundle/ORM/QueryBuilder/CountQueryBuilderOptimizer.php
        - */Oro/Bundle/InstallerBundle/CacheWarmer/NamespaceMigration.php
        - */Oro/Bundle/MigrationBundle/Entity/Repository/DataFixtureRepository.php
        - */Oro/Bundle/FilterBundle/Datasource/Orm/OrmExpressionBuilder.php
        - */Oro/Bundle/FilterBundle/Datasource/Orm/OrmFilterDatasourceAdapter.php
        - */Oro/Bundle/WebsiteBundle/install.php
    customRulesetUsed: true
    checkThisOnly: false

services:
    -
        class: Oro\Rules\Methods\QueryBuilderInjectionRule
        arguments:
            checkThisOnly: %checkThisOnly%
        tags:
            - phpstan.rules.rule
