services:
    -
        class: Oro\Rules\Methods\QueryBuilderInjectionRule
        arguments:
            checkThisOnly: %checkThisOnly%
            trustedData: %sql_injection_testing.trusted_data%
        tags:
            - phpstan.rules.rule

    -
        class: Oro\Rules\Types\RequestGetSessionTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension

    -
        class: Oro\Rules\Types\EntityManagerReturnTypeExtension
        arguments:
            supportedClass: Doctrine\ORM\EntityManagerInterface
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension

    -
        class: Oro\Rules\Types\EntityManagerReturnTypeExtension
        arguments:
            supportedClass: Doctrine\Persistence\ManagerRegistry
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension

    -
        class: Oro\Rules\Types\ManagerRegistryEMReturnTypeExtension
        arguments:
            supportedClass: Doctrine\Persistence\ManagerRegistry
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension

    -
        class: Oro\Rules\Types\ObjectRepositoryReturnTypeExtension
        arguments:
            supportedClass:  Doctrine\ORM\EntityRepository
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension

    persistenceManagerRegistryGetRepository:
        class: Oro\Rules\Types\GetRepositoryDynamicReturnTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
        arguments:
            managerClass: Doctrine\Persistence\ManagerRegistry

    persistenceObjectManagerGetRepository:
        class: Oro\Rules\Types\GetRepositoryDynamicReturnTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
        arguments:
            managerClass: Doctrine\Persistence\ObjectManager

    managerRegistryGetRepository:
        class: Oro\Rules\Types\GetRepositoryDynamicReturnTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
        arguments:
            managerClass: Doctrine\Persistence\ManagerRegistry

    objectManagerGetRepository:
        class: Oro\Rules\Types\GetRepositoryDynamicReturnTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
        arguments:
            managerClass: Doctrine\Persistence\ObjectManager

    # Should be uncommented after existing problems fixed
    #-
        #class: Oro\Rules\ValidExceptionCatchRule
        #tags:
            #- phpstan.rules.rule

parametersSchema:
    sql_injection_testing: structure([
        trusted_data: structure([
            variables: arrayOf(arrayOf(arrayOf(bool())))
            properties: arrayOf(arrayOf(arrayOf(bool())))
            safe_static_methods: arrayOf(arrayOf(bool()))
            safe_methods: arrayOf(arrayOf(anyOf(bool(), arrayOf(int()))))
            check_static_methods_safety: arrayOf(arrayOf(anyOf(bool(), arrayOf(int()))))
            check_methods_safety: arrayOf(arrayOf(anyOf(bool(), arrayOf(int()))))
            check_methods: arrayOf(arrayOf(anyOf(bool(), arrayOf(anyOf(int(), string())))))
            clear_static_methods: arrayOf(arrayOf(bool()))
            clear_methods: arrayOf(arrayOf(bool()))
        ])
    ])
