parameters:
    trustedData:
        variables:
            Oro\Bundle\CalendarBundle\Provider\CalendarPropertyProvider:
                getItems:
                    selectItems: true
        safe_methods:
            Oro\Bundle\CalendarBundle\Entity\Repository\CalendarEventRepository:
                getBaseFields: true
