parameters:
    trustedData:
        variables:
            Oro\Bundle\CustomerBundle\EventListener\Datagrid\CustomerUserRoleDatagridListener:
                onBuildAfter:
                    criteria: true
            Oro\Bundle\CustomerBundle\Handler\CustomerAssignHelper:
                hasAssignments:
                    association: true
            Oro\Bundle\CustomerBundle\Form\Type\FrontendOwnerSelectType:
                configureOptions:
                    criteria: true
            Oro\Bundle\CustomerBundle\Entity\Repository\CustomerRepository:
                getBatchIterator:
                    fieldName: true
            Oro\Bundle\CustomerBundle\Owner\FrontendOwnerTreeProvider:
                executeQuery:
                    executableQuery: true
        properties:
            Oro\Bundle\CustomerBundle\Autocomplete\CustomerUserSearchHandler:
                searchEntities:
                    idFieldName: true
