parameters:
    trustedData:
        variables:
            Oro\Bundle\FrontendBundle\CacheWarmer\ClassMigration:
                migrateTableColumn:
                    table: true
                    column: true
