parameters:
    trustedData:
        variables:
            Oro\Bundle\MarketingListBundle\Provider\MarketingListProvider:
                getMarketingListEntitiesQueryBuilder:
                    entityAlias: true
        properties:
            Oro\Bundle\MarketingListBundle\Datagrid\Extension\MarketingListExtension:
                createItemsQuery:
                    marketingListId: true
