parameters:
    trustedData:
        variables:
            Oro\Bundle\NotificationBundle\Provider\EmailNotificationGridHelper:
                getEntityChoices:
                    select: true
                    entity: true
