parameters:
    trustedData:
        variables:
            Oro\Bundle\SEOBundle\EventListener\RestrictSitemapCmsPageByWebCatalogListener:
                getWebCatalogEntityIdsQueryBuilder:
                    rootAlias: true
